extends base

block content
    div.container
        h1 SQL Explorer
        form#sql-form
            textarea#query(name='query' placeholder='Enter SQL query' rows='5' cols='50')
            br
            button(type='submit') Execute SQL
        div#error(style='color: red')
        div#result
