doctype html
html
    head
        title Service Interaction
        script(src="/js/script.js")
    body
        h1 Call Backend Services
        button#btnService1 Call Service 1
        button#btnService2 Call Service 2
        button#btnService3 Call Service 3
        pre#responseDisplay Response will appear here
