extends base

block content 
    main.container
        h1 File Storage

        form#uploadForm(action='/api/v1/files' method='post' enctype='multipart/form-data')
            .form-group
                label(for='fileInput') Choose a file:
                input(type='file' name='file' id='fileInput' required)

            .form-group
                label(for='commentField') Comment:
                input(type='text' name='comment' id='commentField' required)

            button(type='submit') Upload

        .progress-container
            svg.progress(width='100' height='100')
                circle.progress-circle(cx='50' cy='50' r='45')
            span#progressText 👽

        ul#fileList
