extends base

block content
    main.main
        .card-container
            each _ in Array(3)
                .card
                    .card__header
                        h3.heading-tertirary <span>Loading...</span>
                    .card__details
                        p.card__text Placeholder for card details...
                    .card__footer
                        p.card__footer-value Loading...
                        a.btn.btn--green.btn--small#tour-details(href="#") Details           
