<div class="error">
    <h2 class="error__title">Uh oh! Something Went Wrong!</h2>
    <div class="error__emoji">{{emoji}}</div>
    <p class="error__msg">{{statusCode}}: {{errorMessage}}</p>
</div>
