.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem 2rem;
	border-radius: 10px;
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
	text-align: center;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	display: block;
}
.popup--success {
	background-color: #20bf6b;
}
.popup--error {
	background-color: #eb4d4b;
}
.error {
	position: absolute;
	top: 35%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	max-width: 80rem;
	text-align: center;
}
.error__title {
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 1rem;
}
.error__emoji {
	font-size: 3.75rem;
	margin-left: 1rem;
}
.error__msg {
	font-size: 2.5rem;
	font-weight: 700;
	max-width: 50rem;
	margin: 0 auto;
}
.button--vote button {
	margin-right: 15px;
}
.button--go button{
	margin-top: 20px;
	margin-right: 15px;
}
