doctype html
html
    head
        title My Postman
        link(rel="stylesheet" href="/css/styles.css")
        script(src="/js/script.js")
    body
        h1 My Postman

        div.container
            form(action="/request" method="post")
                label(for="url") URL:
                input(type="text" name="url" required)

                label(for="method") Method:
                select(name="method")
                    option(value="GET") GET
                    option(value="POST") POST
                    option(value="PUT") PUT
                    option(value="DELETE") DELETE

                // Headers section
                h3 Headers
                div#headers-container
                    button(type="button" id="add-header-btn") Add Header

                // Query Params section
                h3 Query Parameters
                div#query-params-container
                    button(type="button" id="add-query-param-btn") Add Query Param

                // Body section
                label(for="body") Body (for POST/PUT requests, JSON/text/html/urlencoded):
                select(name="bodyFormat" id="bodyFormat")
                    option(value="json") JSON
                    option(value="text") Text
                    option(value="html") HTML
                    option(value="urlencoded") URL Encoded
                    option(value="form-data") Form Data
                textarea(name="body")

                button(type="submit") Send Request

        // Response Section
        if response
            h2 Response
            pre Status: #{response.status}
            pre Headers: #{response.headers}
            pre Body: #{response.body}

        if response && response.error
            h2 Error
            pre= response.error
