doctype html
html
    head
        title My Postman
        link(rel="stylesheet" href="/css/styles.css")
    body
        h1 My Postman

        div.container
            form(action="/request" method="post")
                label(for="url") URL:
                input(type="text" name="url" required)

                label(for="method") Method:
                select(name="method")
                    option(value="GET") GET
                    option(value="POST") POST
                    option(value="PUT") PUT
                    option(value="DELETE") DELETE

                label(for="headers") Headers (JSON format):
                textarea(name="headers")

                label(for="body") Body (for POST/PUT requests, JSON format):
                textarea(name="body")

                button(type="submit") Send Request

            if response
                h2 Response
                pre= response
