doctype html
html
  head
    title My Postman 
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')

  body
    h1 My Postman
    
    block content

    script( type='module' src='/js/script.js')
