body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 20px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

h1 {
	text-align: center;
	color: #333;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.input-group {
	display: flex;
	gap: 10px;
	flex-grow: 1;
}

select,
input,
textarea,
button {
	padding: 8px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 6px;
}

select#method-select {
	width: 80px;
}

input.url-input {
	flex-grow: 1;
}

textarea {
	width: 100%;
	resize: vertical;
}

.center-button {
	justify-content: center;
}

button[type='submit'] {
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 1em;
	border-radius: 6px;
}

button[type='submit']:hover {
	background-color: #45a049;
}

button#add-param,
button#add-header {
	background-color: #007bff;
	border: none;
	cursor: pointer;
	margin-left: 10px;
}

button#add-param:hover,
button#add-header:hover {
	opacity: 0.7;
}

.add-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #007bff;
	color: white;
	font-size: 1.2em;
	line-height: 24px;
	margin-left: 5px;
	transition: background-color 0.3s ease;
}

.add-circle:hover {
	background-color: #0056b3;
}

.circle {
	text-align: center;
	color: white;
}

input[type='text'],
select.header-dropdown {
	width: calc(50% - 10px);
	border-radius: 5px;
	padding: 8px;
	margin-right: 10px;
}

.header-row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.params-container,
.dynamic-headers-container {
	margin-top: 10px;
}
.response-container {
	border: 1px solid #ccc;
	padding: 16px;
	margin-top: 20px;
	background-color: #f9f9f9;
	border-radius: 4px;
	width: 100%;
	overflow-wrap: break-word;
}

.tabs button.active {
	background-color: #4caf50;
	color: white;
}
p strong {
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	table-layout: fixed;
	font-size: 0.9em;
}

th,
td {
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: break-spaces;
}

th {
	background-color: #f1f1f1;
}
pre#body {
	white-space: pre-wrap;
	word-wrap: break-word;
}
