doctype html
html
  head
    title File Storage
    link(rel='stylesheet' href='/css/styles.css')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')

  body
     
    block content

    script( type='module' src='/js/script.js')
